<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<link href="../css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="../style/global.css">
<link href="../css/bootstrapValidator.css" rel="stylesheet"/>
<link rel="stylesheet" href="../style/regist.css">
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/underscore-noflect.js"></script>
<script src="../js/bootstrapValidator.js"></script>

<body>
<div class="form-wrap">
    <form class="form-regist">
        <div class="form-group">
            <label for="userName">用户名：</label>
            <input type="text" class="form-control" id="userName" name="userName" placeholder="用户名">
        </div>
        <div class="form-group">
            <label for="password">密码：</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="密码">
        </div>
        <button type="button" id="regist" class="btn  btn-default">注册</button>
    </form>

    <div class="alert alert-danger fail-send" role="alert" style="margin-top：10px;display: none;">该用户名已存在！</div>
      <div class="alert alert-success suc-send" role="alert" style="margin-top：10px;display: none;">注册成功！</div>
    <!--<button type="button" id="regist" class="btn  btn-default">注册</button>-->
    <!--<button type="button" class="close" id="alertBtn" data-dismiss="alert">-->
        <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->

</div>
</body>
</html>
<script>

    $(function () {

        $("#alertBtn").alert();


        module.init();
    })

    var module = {

        init: function () {

            module.initRegist();

            //表单验证
            $('.form-regist').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    userName: {
                        message: '用户名验证失败',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: '邮箱地址不能为空'
                            }
                        }
                    }
                }
            });


        },
        initRegist: function () {
            $("#regist").unbind("click").bind("click", function () {
                $.post("/regist", {
                    "name": $("#userName").val(),
                    "password": $("#password").val()

                }, function (result) {
                    if (result.success) {
                           $(".suc-send").fadeIn();
                           $(".fail-send").fadeOut();
                           location.href = '/views/index.html'
                     
                    }else {

                        $(".fail-send").fadeIn();
                         $(".suc-send").fadeOut();


                    }

                })


            })


        }


    }


</script>




